pipeline/pipeline1.json
{
	"name": "pipeline1",
	"properties": {
		"activities": [
			{
				"name": "BenefitPlantype",
				"type": "Copy",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "AzureSqlSink"
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "Code",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "Benefit_Plan_type_code",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "Description",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "Benefit_Plan_type_Desc",
									"type": "String",
									"physicalType": "varchar"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "Source_PlantType",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "Sink_BenefitPlan",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "ContractCat",
				"type": "Copy",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "AzureSqlSink"
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "Code ",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "Contract_Category_Code",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "Description",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "Contract_Category_Code_Desc",
									"type": "String",
									"physicalType": "varchar"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "SourceContractCatCode",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "Sink_ContractCat",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Ref_Data",
				"type": "Copy",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "ExcelSource",
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						}
					},
					"sink": {
						"type": "AzureSqlSink"
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "Reference_Code",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "Ref_Data_ID",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "Table",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "Ref_Table",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "Field",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "Ref_Field",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "Reference_Code_Value",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "Reference_Code",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": ""
								},
								"sink": {
									"name": "Reference_Code_Description",
									"type": "String",
									"physicalType": "varchar"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "Source_Ref_data_excel",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "Sink_RefData",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "If Condition1",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "ContractCat",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@activity('ContractCat').output.value",
						"type": "Expression"
					}
				}
			}
		],
		"annotations": []
	}
}